numpy
pandas
torch
datasets
transformers
scikit-learn
sentencepiece
tqdm
accelerate
matplotlib
ipykernel

bleurt @ https://github.com/google-research/bleurt/archive/b610120347ef22b494b6d69b4316e303f5932516.zip#egg=bleurt
openai
pandas
transformers
t5